
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.DS_Store
.env*
.pnp.*
.yarn/*
*.pem
*.tsbuildinfo
/.next/
/.pnp
/build
/coverage
/node_modules
/out/
# debug
# dependencies
# env files (can opt-in for committing if needed)
# misc
# next.js
# production
# testing
# typescript
next-env.d.ts
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
